# EditorConfig - это файл конфигурации, который помогает поддерживать единообразный стиль кодирования для различных редакторов и IDE.

# Устанавливаем корневой файл конфигурации
root = true

# Стандартные настройки для всех файлов
[*]
# Отступы с помощью пробелов
indent_style = space
# Количество пробелов в отступах
indent_size = 4
# Окончание строк в Unix-стиле
end_of_line = lf
# Кодировка UTF-8
charset = utf-8
# Добавлять новую строку в конце файла
insert_final_newline = true
# Удалять пробелы в конце строки
trim_trailing_whitespace = true

# Специальные настройки для файлов с расширением .md и .json
[*.md]
# Отключить удаление пробелов в конце строки для Markdown файлов
trim_trailing_whitespace = false

[*.json]
# Устанавливаем отступы в 2 пробела для JSON файлов
indent_size = 