* {
    margin: 0;
    padding: 0;
}

.head{
    background-color: white;
    height: 65px;
    display: flex;
    position:sticky;
    .logo{
        height: 100%;
        width: 100%;
    }
}
.head-card{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    margin: 10px;
    gap: 100px   ;
    a {
        outline: none;
        text-decoration: none;
        padding: 2px 1px 0;
    }

    a:link {
        color: #44944A;
    }

    a:visited {
        color: #437a16;
    }


    a:hover {
        border-bottom: 1px solid;
        
    }

    
}

