.Cars_container {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 1280px;
}
.Section_header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-items: start;
}
.Cars_container_content,
.Cars_container_content_mobile {
    align-items: start;
    display: block;
    flex-direction: column;
    justify-content: start;
}

.SectionIcon {
    height: 42px;
    margin-bottom: 48px;
    margin-top: 160px;
    width: 42px;
}
.Cars_section_header_title_mobile {
    font-family: YS Text, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17647;
}

.Cars_section_header_title_mobile {
    font-family: YS Text, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17647;
}

.Cars_section_header_subtitle_mobile {
    color: #000;
    font-family: YS Text, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin-top: 4px;
    opacity: 0.3;
}

.Cars_container_content {
    margin-top: 48px;
    width: 1196px;
}

.Cars_section_models {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
    margin-top: -8px;
}

.Car_card_container {
    height: 220px;
    position: relative;
    width: 220px;
}

.Cars_section_models > * {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 24px;
}

.Car_card_icon {
    height: 127px;
    object-fit: contain;
    object-position: top;
    position: absolute;
    top: 18px;
    width: 100%;
}
