*{
    margin: 0;
    padding: 0;
}
.card_phone{
    display: block;
    position: absolute;
    width: 256px;
    right: 227px;
    margin-top: 15px;
}

.PromoContainer{
    background-color: #f5f5f5;
    display: flex;
    height: 632px;
    justify-content: center;
    width: inherit;

}

.PromoContent{
    background-color: #f5f5f5;
    display: block;
    height: 100%;
    position: relative;
    width: 1280px;
}

.Promo_Item_Left_Section{
    display: flex;
    flex-direction: column;
    left: 132px;
    position: absolute;
    top: 162px;
    width: 616px;
}


.Promo_Item_Left_Section_Title{
    
    font-size: 24px;
    font-weight: 500;
    line-height: 115%;
    text-align: left;
    line-height: 50px;
 
}

.RegisterButton{
    align-items: center;
    background-color: #44944A;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    min-height: 64px;
    position: relative;
    width: 350px;
    z-index: 30;

  
    border: none;
    cursor: pointer;
    outline: none;

}
.RegisterButton:hover{
    opacity: .9;
}

.RegisterButtonTitle{
    color: #fff;

    font-size: 17px;
    font-weight: 500;
    line-height: 1.1875;
}

.MainScreenContainer{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 1280px;
    width: 100%;
    margin-bottom: 100px;
}

.Cases_Container{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 1280px;
    h2{
        margin-bottom: 8px;
        font-size: 36px;
        font-weight: 500;
        line-height: 115%;
    }

    h3{
        margin-bottom: 48px;
        font-family: YS Text, sans-serif;
        font-size: 20px;
        font-weight: 400;
    }
}

.SectionIcon{
    height: 42px;
    margin-bottom: 48px;
    margin-top: 152px;
    width: 42px;

    img{
    max-height: 100%;
    max-width: 100%;
    }
}

.RegisterButtonSubtitle {
    color: #fff;
    font-family: YS Text, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.23077;
    margin-top: 3px;
    opacity: .6;
}


.SelectedButton {
    
    color: green    ; 
    
  }

.VINA{
    
    a {
        outline: none;
        text-decoration: none;
        padding: 2px 1px 0;
    }
    a:link {
        color: #44944A;
    }

    a:visited {
        color: #437a16;
    }


    a:hover {
        border-bottom: 1px solid;
        
    }

}