*{
    margin: 0;
    padding: 0;
}
.card_phone{
    width: 100%;
    height: 632px;
    display: flex;
    justify-content: right;
}
.card_container{
    display: flex;
    justify-content: right;
    background-color: #437a16;
    .phone-card{
        padding-right: 200px;
    }
    .card-click{
        justify-content: center;
        align-items: center;
    }
}

